@import "tailwindcss";

@theme {
    --font-sans: 'Inter', sans-serif;
    --font-display: 'Space Grotesk', sans-serif;
    --font-mono: 'JetBrains Mono', monospace;

    --color-brand-black: #0f172a;
    --color-brand-dark: #334155;
    --color-brand-gray: #64748b;
    --color-brand-light: #f8fafc;

    --color-accent-primary: #2563eb;
    --color-accent-secondary: #3b82f6;

    --shadow-premium: 0 20px 40px -15px rgba(0, 0, 0, 0.05);
    --shadow-premium-hover: 0 25px 50px -12px rgba(37, 99, 235, 0.15);
}
